<h2><%= l('conformity_rules_page_title') %></h2>

<fieldset>
  <legend><%= l('conformity_rules.create_rule') %></legend>

  <%= form_for :conformity_rule  do |form| %>
      <%= l('words.domain_name_contains') %>
      <%= form.text_field :content %>
      <%= l('words.that_conformity_for_project') %>
      <%= form.select :project_id, Project.all.map { |p| [p.name, p.id] }, { :include_blank => false } %>
      <%= form.submit l('create') %>
  <% end %>

</fieldset>

<br/>

<table class="list">
  <thead>
      <th><%= l('conformity_rules.id') %></th>
      <th><%= l('conformity_rules.content') %></th>
      <th><%= l('conformity_rules.project') %></th>
      <th></th>
  </thead>
  <tbody>
  <% if !@conformity_rules.blank? %>
      <% @conformity_rules.each do |rule| %>
          <tr>
            <td><%= rule.id %></td>
            <td><%= rule.content %></td>
            <td><%= link_to(rule.project.name, project_path(rule.project.identifier)) if rule.project %></td>
            <td><%= link_to(l(:button_delete), conformity_rule_path(rule), :method => :delete, :class => 'icon icon-del') %></td>
          </tr>
      <% end %>
  <% else %>
      <tr><td colspan="5"><%= l(:label_no_data) %></td></tr>
  <% end %>
  </tbody>
</table>