<fieldset>
    <legend><%= l('email_settings.legend') %></legend>
    
    <p>
      <label for="settings_username"><%= l('email_settings.username') %></label>
      <%= text_field_tag 'settings[username]', @settings['username'] %>
    </p>

    <p>
      <label for="settings_password"><%= l('email_settings.password') %></label>
      <%= password_field_tag 'settings[password]', @settings['password'] %>
    </p>

    <p>
        <label for="settings_address"><%= l('email_settings.address') %></label>
        <%= text_field_tag 'settings[address]', @settings['address'] %>
    </p>

    <p>
      <label for="settings_protocol"><%= l('email_settings.protocol') %></label>
      <%= select_tag('settings[protocol]',
                     options_for_select([['IMAP', 'IMAP'], ['POP3', 'POP3']], @settings['protocol'])) %>
    </p>

    <p>
      <label for="settings_port"><%= l('email_settings.port') %></label>
      <%= text_field_tag 'settings[port]', @settings['port'] %>
    </p>

    <p>
      <label for="settings_enable_ssl"><%= l('email_settings.ssl') %></label>
      <%= select_tag('settings[enable_ssl]',
                     options_for_select([['Да', true], ['Нет', false]], @settings['enable_ssl'])) %>
    </p>

    <p>
        <label for="settings_delete_after_response">Удалять сообщения с сервера после получения</label>
        <%= check_box_tag 'settings[delete_after_response]', @settings['delete_after_response'] %>
    </p>
</fieldset>

<br/>

<fieldset>  
  <legend><%= l('confirmation_settings.legend') %></legend>
  <p>
    <label for="settings_confirmation_bcc"><%= l('confirmation_settings.bcc') %></label>
    <%= text_field_tag 'settings[confirmation_bcc]', @settings['confirmation_bcc'] %>
  </p>
</fieldset>

<br/>

<fieldset>
  <legend><%= l('issue_settings.legend') %></legend>
  <p>
    <label for="settings_email_grabber_author"><%= l('issue_settings.author') %></label>
    <%= select_tag('settings[author_id]',
                   options_for_select(User.where(:type => 'User').order(:firstname, :lastname).map { |u| [u.firstname + ' ' + u.lastname, u.id] }, @settings['author_id']))  %>
  </p>

  <p>
    <label for="settings_email_grabber_assigned_to_id"><%= l('issue_settings.assigned_to') %></label>
    <%= select_tag('settings[assigned_to_id]',
                   options_for_select(User.where(:type => 'User').order(:firstname, :lastname).map { |u| [u.firstname + ' ' + u.lastname, u.id] }, @settings['assigned_to_id']),
                   { :include_blank => true }) %>
  </p>

  <p>
    <label for="settings_email_grabber_tracker"><%= l('issue_settings.tracker') %></label>
    <%= select_tag('settings[tracker_id]',
                   options_for_select(Tracker.all.map { |u| [u.name, u.id] }, @settings['tracker_id']))  %>
  </p>
</fieldset>

<!--
    TODO:
        - Изменение адреса сервера в соответсвие с выбором протокола
        - Изменение адреса в соответсвие с username domain name
        - Галочка для отображения скрытого пароля
-->

