<fieldset>
    <legend>Параметры почтового ящика</legend>
    <p>
      <label for="settings_email_email_address">Электронный адрес</label>
      <%= text_field_tag 'settings[email_address]', @settings['email_address'] %>
    </p>

    <p>
      <label for="settings_email_password">Пароль</label>
      <%= password_field_tag 'settings[email_password]', @settings['email_password'] %>
    </p>

    <p>
      <label for="settings_email_protocol">Протокол</label>
      <%= select_tag('settings[email_protocol]',
                     options_for_select([['IMAP', 'IMAP'], ['POP3', 'POP3']], @settings['email_protocol'])) %>
    </p>

    <p>
      <label for="settings_email_port">Порт</label>
      <%= text_field_tag 'settings[email_port]', @settings['email_port'] %>
    </p>

    <p>
      <label for="settings_email_ssl">SSL</label>
      <%= select_tag('settings[email_ssl]',
                     options_for_select([['Да', true], ['Нет', false]], @settings['email_ssl'])) %>
    </p>

</fieldset>

<br/>

<fieldset>
  <legend>Общие настройки</legend>
  <p>
    <label for="settings_email_grabber_user">Пользователь</label>
    <%= select_tag('settings[user_id]',
                   options_for_select(User.where(:type => 'User').map { |u| [u.firstname + ' ' + u.lastname, u.id] }, @settings['user_id']))  %>
  </p>
</fieldset>