<h2><%= l('emails_page_title') %></h2>

<table class="list">
  <thead>
      <th><%= l('emails.id') %></th>
      <th><%= l('emails.from') %></th>
      <th><%= l('emails.subject') %></th>
      <th><%= l('emails.date') %></th>
      <th><%= l('emails.issue') %></th>
  </thead>
  <tbody>
      <% if @emails.size > 0 %>
          <% @emails.each do |email| %>
              <tr>
                <td><%= email.id %></td>
                <td><%= email.from %></td>
                <td><%= link_to email.subject, email_path(email.id) %></td>
                <td><%= email.date.to_datetime.strftime("%d.%m.%Y %H:%M") if email.date %></td>
                <td>
                  <%= email.issue_created && email.issue ? link_to_issue(email.issue, { subject: false }) : l('emails.issue_does_not_exist') %>
                </td>
              </tr>
          <% end %>
      <% else %>
        <tr><td colspan="5"><%= l(:label_no_data) %></td></tr>
      <% end %>
  </tbody>
</table>

<!-- TODO: Ссылка на задачу дочернего элемента -->