<h2><%= l('emails_page_title') %></h2>

<%= form_tag(emails_path, :method => :get) do %>
  <fieldset><legend><%= l(:label_filter_plural) %></legend>

  <label for='from'><%= l('emails.from') %>:</label>
  <%= text_field_tag :from, params[:from] %>

  <label for='subject'><%= l('emails.subject') %>:</label>
  <%= text_field_tag :subject, params[:subject]  %>

  <label for='archive'><%= l('emails.archive') %>:</label>
  <%= select_tag :archive, options_for_select(Archive.order("month DESC, year DESC").map { |a| [a.name, a.id] }, params[:archive]), include_blank: true  %>

  <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
  <%= link_to l(:button_clear), emails_path, :class => 'icon icon-reload' %>
  </fieldset>
<% end %>

<br>

<table class="list">
  <thead>
      <th><%= l('emails.id') %></th>
      <th><%= l('emails.from') %></th>
      <th><%= l('emails.subject') %></th>
      <th><%= l('emails.date') %></th>
      <th><%= l('emails.issue') %></th>
      <th></th>
  </thead>
  <tbody>
      <% if @emailss.size > 0 %>
          <% @emailss.each do |email| %>
              <tr>
                <td><%= email.id %></td>
                <td><%= email.from %></td>
                <td><%= link_to email.subject, email_path(email.id) %></td>
                <td><%= email.date.to_datetime.strftime("%d.%m.%Y %H:%M") if email.date %></td>
                <td>
                  <% if email.issue.blank? %>
                    <%= l('emails.issue_does_not_exist') %>
                  <% else %>
                    <%= link_to_issue(email.issue, { subject: false }) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to "#{ email.archive_id ? l('words.from_archive') : l('words.in_archive') }", email_archive_path(email), method: :post %>
                  <%= delete_link email_path(email) %>
                </td>
              </tr>
          <% end %>
      <% else %>
        <tr><td colspan="6"><%= l(:label_no_data) %></td></tr>
      <% end %>
  </tbody>
</table>

<% unless @emailss.blank? %>
  <p class="pagination"><%= pagination_links_full @email_pages, @email_count %></p>
<% end %>