<h2>Email</h2>


<table>
  <% if @emails.size > 0 %>
      <% @emails.each do |email| %>
          <tr>
            <td><%= email.id %></td>
            <td><%= email.from %></td>
            <td><%= email.title %></td>
            <td><%= email.task_created %></td>
            <td>
              <%= link_to 'Yes', { :action => 'show', :id => email.id, :answer => 'yes' }, :method => :get %>
            </td>
          </tr>
      <% end %>
  <% else %>
    <tr>No Emails</tr>
  <% end %>
</table>